* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
body {
    font-family: sans-serif; 
    text-align: center;
    margin: 0; 
    background-color: #FADADD; 
} 

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#image-container {
    }

  
  .container .btn {
    display: flex;
    gap: 100px;
  }
  
  .btn a {
    text-decoration: none;
    color: white;
    background: #FB607F;
    padding: 10px 25px;
    border-radius: 66px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3); }
